<!-- book_recommender.html -->

<!-- Your recommendation display HTML goes here -->
<div id="bookRecommenderSection">
    <h2>Recommended Books:</h2>
    <ul>
      {% for book in recommended_books %}
        <li>
          <strong>Title:</strong> {{ book.title }}<br>
          <strong>Author:</strong> {{ book.author }}<br>
          <strong>Genres:</strong> {{ book.genres|join:", " }}<br>
          <strong>Publish Date:</strong> {{ book.publishDate }}<br>
          <strong>Average Rating:</strong> {{ book.rating }}<br>
          <br>
        </li>
      {% endfor %}
    </ul>
  </div>
  